# Files
*.o
*.so
*.ipynb

# Folders
data/
models
build/
docs/
__pycache__/


*.DS_Store
*.pyc
*py~
*.bak
*.pth
*.swp
.vscode
*~
temp/*

# test-related
.coverage
.cache

# developer environments
.idea
.ipython*
*.ipynb*
*.ipynb_checkpoints/*
.remote-sync.json
