# Files
*.o
*.so
*.ipynb
*.pyx



# Folders
data/
models
build/
__pycache__/


*.DS_Store
*.pyc
*py~
*.pth
*.swp
.vscode
*~
temp/*

# test-related
.coverage
.cache

# developer environments
.idea
.ipython*
*/.ipynb*
*/.ipynb_checkpoints/*
.remote-sync.json
test.py
